* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;
}

body{
    background: rgb(30, 30, 30);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}

@keyframes button-push {
    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1)
    }
}

.btn:hover {
    animation: button-push 0.3s linear 1;
}
