#intro {  
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    height: 50rem;
    overflow: hidden;
    display: flex; 
    flex-direction: row;
    
    /*align-items: center;
    justify-content: space-between;
    text-align: center;*/
}

.bg {
    position: relative;
    top: 5rem;
    right: 7rem;
    z-index: -1;
    object-fit: cover; 
    height: 60vh;
    width: 400px;
}

.introContent {
    height: 100vh;
    width: 100vh;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
    
}

.introName {
    color: rgb(74, 74, 198);
    
}

.introPara {
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
    
}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent !important;
}
.btnRes{
    -webkit-tap-highlight-color: transparent !important;
    outline: none !important;
    width: 144px;
}


.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

@media screen and (max-width:840px) {
    .bg {
        right: -10vw;
    }

    .introContent {
        font-size: 10vw;
    }
    
    .hello {
        font-size: 4.5vw;
    }
    
}
/*@media screen and (max-width:480px) {
    .bg {
        right: -20vw;
    }
}*/

@media screen and (max-width:840px) {
    .hideImgSmall {
    position: absolute;
    top: 10rem;
    margin-right: 5rem; 
    z-index: -1;
    object-fit: cover;
    /* height: 50vh; */
    }
}

@media screen and (max-width:840px) {
    .hello {
        font-size: 1.75rem;
        font-weight: 100;
    }
     .introName {
        font-size: 3rem;
        
    }
    .introText {
        font-size: 3rem;
    }
}
@media screen and (max-width:480px) {
    .hello {
        font-size: 1.25rem;
        font-weight: 100;
    }
     .introName {
        font-size: 2rem;
        
    }
    .introText {
        font-size: 2rem;
    }

    .introPara {
        font-size: small;
    }
    .hideImgSmall {
        position: relative;
        right: 2rem;
        width: 200px;
        height: 300px;
        }
    .animationText {
        font-size: 1rem;
    }
}
